.container {
  .tabs {
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 2rem;
    .tab-item {
      min-width: 80px;
      padding: 16px 20px 11px 20px;
      font-size: 2rem;
      text-align: center;
      color: #2f2f2f;
      background-color: #fff;

      opacity: 0.6;
      cursor: pointer;
      transition: all 0.5s ease;
    }
    .line {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 6px;
      border-radius: 15px;
      background-color: #666666;
      transition: all 0.2s ease;
    }
    .tab-item:hover {
      opacity: 1;
    }
    .tab-item.active {
      opacity: 1;
    }
  }
  .tab-content {
    max-width: 100%;
    overflow: hidden;
    margin: auto 4rem;
    .tab-pane {
      color: #333;
      display: none;
    }
    .tab-pane.active {
      display: block;
    }
  }
  /*.cta-content {
    padding-bottom: 4rem;
    .cta-content-wrapper {
      margin: 0 5rem 0 5rem;

      .cta {
        display: block;
        max-width: 860px;
        margin-left: auto;
        margin-right: auto;

        img.cta-img {
          //border: 1px solid #111;
          display: block;
          margin-left: auto;
          margin-right: auto;
        }

        .cta-tags {
          display: flex;
          justify-content: center;

          a.tags-item {
            padding-left: 2rem;
            text-align: center;
            text-decoration: none;
            color: #666666;
            font-size: 20px;
          }
        }
        h2.heading-cta {
          padding: 0 2rem;
          text-align: center;
          font-size: 3rem;
          font-weight: bold;
        }
        .btn-shop-now {
          display: flex;
          justify-content: center;

          a.btn-btn {
            text-align: center;
            line-height: 45px;
            width: 170px;
            height: 45px;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: bold;
            word-spacing: 3px;
            text-decoration: none;
            color: #fff;
            background-color: #343a40;
          }
          a.btn-btn:hover {
            border: 0.6px solid #343a40;
            text-decoration: none;
            color: #343a40;
            background-color: #fff;
            transition: all 0.3s ease-in-out;
          }
        }
      }
    }
  }
  */
}
