input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#standard-basic {
  // background-color: aquamarine;
  text-align: center;
  width: 100px;
}
